[main]
# The wake up frequency of the main daemon (in seconds)
main-loop-interval: 60

# The data collection interval for host statistics (in seconds)
host-monitor-interval: 5

# Sets the maximum number of statistic samples to keep for the purpose of
# calculating moving averages.
sample-history-length: 10

[host]
# A comma-separated list of Collector plugins to use for Host data collection
collectors:
